@import "tailwindcss";
:root {
  --background: #fafafa;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --primary : #2563EB;
  --success : #10B981;
  --warning : #F59E0B;
  --danger : #EF4444;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  background: #fafafa;
}
.border-r {
  --tw-border-opacity: 1;
  border-right-color: rgb(247 247 247 / var(--tw-border-opacity));
}
.border-b {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(247 247 247 / var(--tw-border-opacity));
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}